# Watchdog timeout in seconds (default: 10)
WATCHDOG_TIMEOUT_S = 10

# SPI preferred speed in Hz (default: 80 MHz; use 0 to use the board's default)
SPI_PREFERRED_SPEED_HZ = 80000000

# X offset to render GIFs on the LCD (default: 40 for the Reverse TFT Feather)
LCD_X_OFFSET = 40

# Y offset to render GIFs on the LCD (default: 51 for the Reverse TFT Feather)
LCD_Y_OFFSET = 51

# LCD rotation in degrees (default: 0)
LCD_ROTATION = 0

# GIFs directory path on SD card (default: /sd/gifs)
GIFS_PATH = /sd/gifs

# WAVs directory path on SD card (default: /sd/wavs)
WAVS_PATH = /sd/wavs

# Button hold time in seconds to consider the button as being held down a long time (default: 5)
BUTTON_LONG_HOLD_SECONDS = 5

# Idle timeout in seconds before deep sleep (default: 60)
IDLE_TIMEOUT_SECONDS = 60